@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "./style_mixins/colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 100px;
}
html {
  background-color: var(--elem-color);
}
body {
  transition: 200ms linear;
  background-color: var(--primary);
  min-height: 100vh;
}
img,
.material-icons,
.navbar {
  user-select: none;
}
.bg-text {
  user-select: none;
  pointer-events: none;
}
::selection {
  color: var(--primary);
  background: var(--accent-color);
}
// transition between index and certificates
.transition {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--elem-color);
  z-index: 200;
  transform: translateY(100%);
  transition: 300ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  &.is-active {
    opacity: 1;
    transition: transform 300ms linear;
    transform: translateY(0%);
    path {
      stroke: var(--accent-color) !important;
    }
    .svg-elem-1 {
      animation: animate-svg-stroke-1 4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s
        both;
    }

    .svg-elem-2 {
      animation: animate-svg-stroke-2 4s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.12s both;
    }

    .svg-elem-3 {
      animation: animate-svg-stroke-3 4s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.24s both;
    }
  }
}
@import "./style_mixins/preload";
@import "./style_mixins/navbar";
@import "./style_mixins/home";
@import "./style_mixins/about";
@import "./style_mixins/skills";
@import "./style_mixins/work";
@import "./style_mixins/contact";
@import "./style_mixins/social";
@import "./style_mixins/footer";
// scrollbars styling
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
  transition: 200ms all linear;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
  transition: 200ms all linear;
}

// back to top button
.backToTop {
  width: min(2.5em, 50px);
  height: min(2.5em, 50px);
  background-color: var(--navbar-color);
  color: var(--text);
  position: fixed;
  right: 2rem;
  border-radius: 8px;
  z-index: 20;
  opacity: 0;
  bottom: -30px;
  pointer-events: none;
  transition: 200ms all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px var(--shadow-color);
  flex-direction: column;
  &:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 10px var(--accent-color);
    animation: jump 0.5s ease-in-out infinite both;
    cursor: pointer;
    path {
      fill: var(--accent-color);
    }
  }
  svg {
    width: 25px;
    margin: -7px;
    path {
      fill: var(--text);
    }
  }
}

.show {
  transition: 500ms right cubic-bezier(0.42, 0, 0.11, 1.32);
  right: 10px;
  z-index: 10;
}
.showScroll {
  opacity: 1;
  pointer-events: all;
  bottom: 2rem;
}
// general sections styling
.page {
  overflow: hidden;
  margin-top: 3rem;
  padding-bottom: 90px;
  .slide-in {
    position: relative;
    z-index: 1;
    * {
      transition: background-color 300ms ease-in-out;
    }
    .slide {
      width: MIN(100% - 2rem, 70rem);
      opacity: 0;
      margin: 0 auto;
      margin-top: 3rem;
      height: max-content;
      background-color: var(--secondary);
      padding: clamp(1em, 5vw, 5em);
      border-radius: 12px;
      color: var(--text);
      box-shadow: 0px 0px 10px var(--shadow-color);
      animation: slide-out-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      overflow: hidden;
      .caret {
        color: var(--accent-color);
        font-size: 1em;
        margin-left: 2px;
        border-right: 0.05em solid;
        animation: caret 1s steps(1) infinite;
      }
      h1 {
        font-size: clamp(1.2rem, 5vw, 2.2rem);
        padding-bottom: 30px;
        color: var(--accent-color);
      }
      h2 {
        font-size: clamp(0.8rem, 5vw, 1.2rem);
        margin: 30px 0px;
        color: var(--accent-color);
      }
      p {
        font-size: clamp(0.5rem, 3.5vw, 0.9rem);
      }
    }
    .active {
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}
// snackbar styling
.snackbar {
  position: fixed !important;
  z-index: 20;
  background-color: var(--navbar-color);
  box-shadow: 0px 0px 4px 0 var(--shadow-color);
  width: 300px;
  height: 50px;
  border-radius: 8px;
  bottom: -20px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms all ease-in-out;
  backdrop-filter: blur(5px);
  &.active {
    bottom: 85px;
    opacity: 1;
    transition: 300ms all ease-in-out;
  }
}

@import "./style_mixins/music-player";
@import "./style_mixins/animations";
@import "./style_mixins/media";
