@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --primary: #2e2e2e;
  --secondary: #252525;
  --elem-color: #1b1b1b;
  --navbar-color: rgba(31, 31, 31, 0.902);
  --text: #b8b8b8;
  --accent-color: #ffa600;
  --shadow-color: rgba(24, 24, 24, 0.719);
  --scrollbar-color: #222222;
  --scrollbar-color-hover: #1f1f1f;
  --scrollbar-track-color: #292929;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 100px;
}
html {
  background-color: var(--elem-color);
}
body {
  transition: 200ms linear;
  background-color: var(--primary);
  min-height: 100vh;
}
img,
.material-icons,
.navbar {
  user-select: none;
}
.bg-text {
  user-select: none;
  pointer-events: none;
}
::selection {
  color: var(--primary);
  background: var(--accent-color);
}
.transition {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--elem-color);
  z-index: 200;
  transform: translateY(100%);
  transition: 300ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  &.is-active {
    opacity: 1;
    transition: transform 300ms linear;
    transform: translateY(0%);
    path {
      stroke: var(--accent-color) !important;
    }
    .svg-elem-1 {
      animation: animate-svg-stroke-1 4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s
        both;
    }

    .svg-elem-2 {
      animation: animate-svg-stroke-2 4s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.12s both;
    }

    .svg-elem-3 {
      animation: animate-svg-stroke-3 4s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.24s both;
    }
  }
}
.preload {
  // preload
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  top: 0;
  position: fixed;
  font-size: 10rem;
  .doors {
    width: 100vw;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .left-side {
      // left door
      background-color: var(--elem-color);
      height: 100%;
      width: 50%;
      border-top: 1px solid var(--accent-color);
    }
    .right-side {
      // right door
      background-color: var(--elem-color);
      height: 100%;
      width: 50%;
      border-top: 1px solid var(--accent-color);
    }
  }
  .circle {
    // preloading circles
    &__one {
      width: 200px;
      height: 200px;
      border: 4px solid var(--accent-color);
      border-radius: 50%;
      border-color: var(--accent-color) var(--accent-color) var(--accent-color)
        transparent;
      position: absolute;
      animation: 1.2s spin linear infinite;
      filter: drop-shadow(0px 0px 5px var(--accent-color));
    }
    &__two {
      width: 150px;
      height: 150px;
      border: 4px solid var(--accent-color);
      border-radius: 50%;
      border-color: transparent transparent var(--accent-color)
        var(--accent-color);
      position: absolute;
      animation: 1s spin linear infinite;
      filter: drop-shadow(0px 0px 5px var(--accent-color));
    }
    &__three {
      width: 100px;
      height: 100px;
      border: 4px solid var(--accent-color);
      border-radius: 50%;
      border-color: var(--accent-color) transparent transparent
        var(--accent-color);
      position: absolute;
      animation: 0.8s spin linear infinite;
      filter: drop-shadow(0px 0px 5px var(--accent-color));
    }
  }
  .loading-text {
    opacity: 0.1;
    font-weight: 700;
    font-size: 22vw;
    letter-spacing: 1vw;
    position: absolute;
    color: var(--text);
  }
}
.preload-finished {
  transition: 1000ms linear 500ms;
  pointer-events: none;
  .loading-text {
    opacity: 0;
    transition: 500ms linear;
  }
  .doors {
    .left-side {
      transform: translateX(-100%);
      transition: 1000ms ease-in-out 500ms;
      animation: 1ms disappear linear forwards;
      animation-delay: 1.5s;
    }
    .right-side {
      transform: translateX(100%);
      transition: 1000ms ease-in-out 500ms;
      animation: 1ms disappear linear forwards;
      animation-delay: 1.5s;
    }
  }
  .circle {
    &__one,
    &__two,
    &__three {
      opacity: 0;
      transition: 300ms linear;
    }
  }
}
::-webkit-scrollbar {
  // scrollbars styling
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
  transition: 200ms all linear;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
  transition: 200ms all linear;
}
.navbar {
  // top navbar
  width: 100%;
  height: 80px;
  top: 0;
  bottom: auto;
  box-shadow: 0px 0px 10px var(--shadow-color);
  position: fixed;
  z-index: 10;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  padding: 0 50px;
  backdrop-filter: blur(6px);
  color: var(--text);
  .logo {
    display: flex;
    transition: 200ms all linear;
    top: 0;
    svg {
      width: 100px;
    }
    #stop1 {
      stop-color: var(--accent-color);
    }
    #stop2 {
      stop-color: #2e2e2e;
    }
    &:hover {
      filter: drop-shadow(0px 0px 40px var(--accent-color));
      animation: flicker-3 2.5s linear infinite both;
    }
  }
  .nav-items {
    display: flex;
    .nav-item {
      position: relative;
      padding: 15px;
      margin: 5px;
      border-radius: 8px;
      a {
        text-decoration: none;
        color: var(--text);
        font-size: clamp(0.9rem, 1.2vw, 1.2rem);
        .text {
          display: block;
        }
        .icon {
          display: none;
        }
      }
      &::before {
        content: "";
        width: 100%;
        height: 0px;
        position: absolute;
        background-color: var(--accent-color);
        left: 0;
        top: -15%;
        transform: scaleX(0);
        transition: all 300ms ease-in;
      }
      &:hover {
        cursor: pointer;
        a {
          color: var(--accent-color);
        }
        &::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          background-color: var(--accent-color);
          left: 0;
          box-shadow: 0px 0px 10px 1px var(--accent-color);
          transform: scaleY(0.5);
          transform-origin: top;
          transition: all 300ms ease-in;
        }
      }
    }
    .last {
      // themes button
      transition: all 300ms ease-in;
      position: relative;
      width: 50px;
      svg {
        position: absolute;
        pointer-events: none;
        width: 30px;
        height: 30px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        path {
          fill: var(--text);
        }
        line,
        rect {
          stroke: var(--text);
        }
      }
    }
    .last:hover {
      user-select: none;
      transition: all 300ms ease-in;
      box-shadow: 0px 0px 10px var(--accent-color);
      path {
        fill: var(--accent-color);
      }
      line,
      rect {
        stroke: var(--accent-color);
      }
    }
  }

  .logo {
    color: var(--text);
    font-size: 1.5em;
    letter-spacing: 6px;
  }
  .wrapper-menu {
    // side menu icon
    width: 35px;
    height: 35px;
    display: none;
    &:hover {
      .line-menu {
        background-color: var(--accent-color);
      }
    }
  }
  .wrapper-menu.open {
    transform: rotate(-45deg);
  }
  .line-menu {
    background-color: var(--text);
    border-radius: 5px;
    width: 100%;
    height: 3px;
  }
  .line-menu.half {
    width: 50%;
  }
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
}
.backToTop {
  // back to top button
  width: min(2.5em, 50px);
  height: min(2.5em, 50px);
  background-color: var(--navbar-color);
  color: var(--text);
  position: fixed;
  right: 2rem;
  border-radius: 8px;
  z-index: 20;
  opacity: 0;
  bottom: -30px;
  pointer-events: none;
  transition: 200ms all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px var(--shadow-color);
  flex-direction: column;
  &:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 10px var(--accent-color);
    animation: jump 0.5s ease-in-out infinite both;
    cursor: pointer;
    path {
      fill: var(--accent-color);
    }
  }
  svg {
    width: 25px;
    margin: -7px;
    path {
      fill: var(--text);
    }
  }
}
.dropdown-content {
  // themes content
  width: 350px;
  height: 500px;
  bottom: calc(100% - 580px);
  position: fixed;
  background-color: var(--navbar-color);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.7);
  overflow-y: scroll;
  transition: 400ms right linear;
  right: -550px;
  z-index: 100;
  padding-bottom: 20px;
  backdrop-filter: blur(6px);
  overscroll-behavior: contain;
  hr {
    display: none;
  }
  .dropdown-items {
    // themes container
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 10px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    .dropdown-item {
      // theme box
      margin: 0 auto;
      width: 100%;
      height: 180px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px var(--shadow-color);
      background-color: var(--navbar-color);
      margin-top: 15px;
      transition: 300ms all ease-in-out;
      overflow: hidden;
      &:hover {
        outline: 1px solid var(--accent-color);
        box-shadow: 0px 0px 10px var(--accent-color);
        transition: 300ms all linear;
      }
      &.active {
        // box-shadow: 0px 0px 20px var(--accent-color);
        border: 1px solid var(--accent-color);
      }
      cursor: pointer;
      .theme-description {
        width: 100%;
        pointer-events: none;
        background-color: var(--navbar-color);
        height: 35%;
        margin-top: 80%;
        color: var(--text);
        font-size: 0.7em;
        text-align: center;
        padding-top: 5px;
      }
      &:nth-child(1) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(224, 224, 224) 50%
        );
      }
      &:nth-child(2) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(26, 26, 26) 50%
        );
      }
      &:nth-child(3) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(0, 0, 219) 50%
        );
      }
      &:nth-child(4) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(0, 0, 219) 50%
        );
      }
      &:nth-child(5) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(223, 9, 9) 50%
        );
      }
      &:nth-child(6) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(223, 9, 9) 50%
        );
      }
      &:nth-child(7) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(223, 209, 9) 50%
        );
      }
      &:nth-child(8) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(223, 209, 9) 50%
        );
      }
      &:nth-child(9) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(70, 223, 9) 50%
        );
      }
      &:nth-child(10) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(70, 223, 9) 50%
        );
      }
      &:nth-child(11) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(137, 9, 223) 50%
        );
      }
      &:nth-child(12) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(137, 9, 223) 50%
        );
      }
      &:nth-child(13) {
        background: linear-gradient(
          to right bottom,
          rgb(26, 26, 26) 50%,
          rgb(223, 112, 9) 50%
        );
      }
      &:nth-child(14) {
        background: linear-gradient(
          to right bottom,
          rgb(224, 224, 224) 50%,
          rgb(223, 112, 9) 50%
        );
      }
    }
  }
  p {
    color: var(--text);
    padding: 20px 20px 10px 20px;
    font-size: 1.1rem;
    span {
      font-weight: 700;
      font-size: 1.3rem;
      color: var(--accent-color);
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.show {
  transition: 500ms right cubic-bezier(0.42, 0, 0.11, 1.32);
  right: 10px;
  z-index: 10;
}
.showScroll {
  opacity: 1;
  pointer-events: all;
  bottom: 2rem;
}

#about {
  position: relative;
  animation: slide-in-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  overflow: hidden;
  .bg-text {
    position: absolute;
    font-size: 25rem;
    left: 0;
    z-index: -1;
    font-weight: 700;
    opacity: 0.03;
    transform: rotate(30deg);
  }
  p {
    font-size: 1rem;
    padding: 10px 0px;
  }
  .action-buttons {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      width: 40%;
      &:first-of-type {
        justify-content: flex-start;
        align-items: flex-start;
      }
      &:last-of-type {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
}
.homeclass {
  width: MIN(100% - 2rem, 70rem);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  height: max-content;
  background-color: var(--secondary);
  padding: clamp(1em, 5vw, 5em);
  border-radius: 12px;
  color: var(--text);
  box-shadow: 0px 0px 10px var(--shadow-color);
  a {
    text-decoration: none;
  }
  .bg-text {
    position: absolute;
    font-size: 25rem;
    top: 0;
    left: 0;
    z-index: -1;
    font-weight: 700;
    opacity: 0.015;
    transform: rotate(-10deg);
  }
  .left {
    width: 50%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .call-to-action-buttons {
      display: flex;
      gap: 20px;
      margin-block: 20px;
      flex-wrap: wrap;
      &.done {
        .btn-primary {
          display: flex;
          animation-delay: 500ms !important;
          animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
          &:hover {
            cursor: pointer;
            background-color: transparent;
            color: var(--accent-color);
            box-shadow: 0px 0px 10px var(--accent-color);
            text-shadow: 0px 0px 10px var(--accent-color);
          }
        }
        .btn-secondary {
          display: flex;
          animation-delay: 1000ms !important;
          animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
          &:hover {
            background-color: var(--accent-color);
            color: var(--primary);
            box-shadow: 0px 0px 10px var(--accent-color);
          }
        }
      }
      .btn-primary,
      .btn-secondary {
        transition: 300ms linear;
        border-radius: 8px;
        opacity: 0;
        display: none;
        justify-content: center;
        align-items: center;
      }
      .btn-primary {
        width: 155px;
        height: 50px;
        color: var(--primary);
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
      }
      .btn-secondary {
        width: 200px;
        height: 50px;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
      }
    }
  }
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      width: min(100% - 2rem, 60rem);
      aspect-ratio: 1 / 1;
      border: 1px solid var(--accent-color);
      border-radius: 8px;
      position: relative;
      .icon {
        opacity: 0.2;
        width: 20%;
        position: absolute;
        transition: all 200ms ease-in-out;

        &:hover {
          opacity: 0.7;
          svg {
            fill: var(--accent-color);
            filter: drop-shadow(0px 0px 5px var(--accent-color));
          }
        }
        &-js {
          bottom: 1%;
          left: 4%;
          transform: rotate(-27deg);
        }
        &-css {
          bottom: 1%;
          right: 10%;
          transform: rotate(27deg);
        }
        &-sass {
          bottom: 24%;
          left: 48%;
          transform: rotate(-39deg) scale(1.5);
        }
        &-react {
          top: 4%;
          left: 4%;
          transform: rotate(-52deg);
        }
        &-code {
          top: 16%;
          right: 6%;
          transform: rotate(40deg) scale(1.5);
        }
        &-coding {
          top: 30%;
          left: 16%;
          transform: rotate(41deg);
        }
        &-branch {
          top: 3%;
          left: 40%;
          transform: rotate(0deg);
        }
        &-cmd {
          bottom: 29%;
          left: 4%;
          transform: rotate(0deg);
        }
      }
    }
    img {
      outline: 1px solid var(--accent-color);
      padding: 30px;
      width: min(100% - 2rem, 60rem);
      border-radius: 8px;
      margin: 0 auto;
    }
  }
  .caret {
    color: var(--accent-color);
    font-size: 1em;
    margin-left: 2px;
    border-right: 0.05em solid;
    animation: caret 1s steps(1) infinite;
  }
  h1 {
    font-size: clamp(1.2rem, 5vw, 2.2rem);
    padding-bottom: 30px;
    color: var(--accent-color);
  }
  h2 {
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    margin: 30px 0px;
    color: var(--accent-color);
  }
  p {
    font-size: clamp(0.5rem, 3.5vw, 0.9rem);
  }
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

.page {
  overflow: hidden;
  margin-top: 3rem;
  padding-bottom: 90px;
  .slide-in {
    position: relative;
    z-index: 1;
    * {
      transition: background-color 300ms ease-in-out;
    }
    .slide {
      width: MIN(100% - 2rem, 70rem);
      opacity: 0;
      margin: 0 auto;
      margin-top: 3rem;
      height: max-content;
      background-color: var(--secondary);
      padding: clamp(1em, 5vw, 5em);
      border-radius: 12px;
      color: var(--text);
      box-shadow: 0px 0px 10px var(--shadow-color);
      animation: slide-out-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      overflow: hidden;
      .caret {
        color: var(--accent-color);
        font-size: 1em;
        margin-left: 2px;
        border-right: 0.05em solid;
        animation: caret 1s steps(1) infinite;
      }
      h1 {
        font-size: clamp(1.2rem, 5vw, 2.2rem);
        padding-bottom: 30px;
        color: var(--accent-color);
      }
      h2 {
        font-size: clamp(0.8rem, 5vw, 1.2rem);
        margin: 30px 0px;
        color: var(--accent-color);
      }
      p {
        font-size: clamp(0.5rem, 3.5vw, 0.9rem);
      }
    }
    .active {
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}
///////////////////////////////// ABOUT ////////////////////////////////
#about {
  .slide-in {
    .slide {
      .button {
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: max-content;
        text-decoration: none;
        gap: 10px;
        background-color: var(--navbar-color);
        border-radius: 8px;
        position: relative;
        color: var(--accent-color);
        border: 2px solid var(--accent-color);
        font-weight: 900;
        transition: 300ms linear;
        svg {
          width: 30px;
          position: absolute;
          left: 0;
          z-index: 0;
          opacity: 0.2;
          fill: var(--accent-color);
        }
        &:hover {
          cursor: pointer;
          background-color: var(--accent-color);
          color: var(--elem-color);
        }
      }
    }
  }
}

///////////////////////////////// SKILLS //////////////////////////////
#skills {
  overflow: hidden;
  .bg-text {
    position: absolute;
    font-size: 25rem;
    top: 0px;
    left: 0;
    z-index: -1;
    font-weight: 700;
    opacity: 0.03;
    transform: rotate(-10deg);
  }
}
.skills-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  .slide-button {
    width: 50px;
    height: 80px;
    z-index: 100;
    background-color: var(--navbar-color);
    font-size: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text);
    top: 40%;
    user-select: none;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      border-color: var(--accent-color);
      color: var(--accent-color);
    }
  }
  #slideLeft {
    left: 0px;
  }
  #slideRight {
    right: -35px;
  }
  &::before {
    position: absolute;
    content: "";
    height: 95%;
    z-index: 10;
    width: 150px;
    left: 20px;
    pointer-events: none;
  }
  &::after {
    position: absolute;
    content: "";
    height: 95%;
    z-index: 10;
    width: 150px;
    right: 0;
    top: 0;
    pointer-events: none;
  }
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
  * {
    scroll-snap-align: start;
  }
}
.horizontal-scroller {
  margin: 0 auto;
  margin-left: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  grid-auto-rows: 350px;
  grid-auto-columns: 28%;
  padding: 0 15px 15px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  position: relative;
  .skill {
    &.loading {
      opacity: 0.3;
      transition: 300ms linear;
      .img-loader {
        opacity: 1;
      }
    }
    .img-loader {
      opacity: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      z-index: 10;
    }
    display: grid;
    gap: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
    transition: 250ms linear;
    img {
      height: 300px;
      margin: 0 auto;
      inline-size: 100%;
      object-fit: contain;
      filter: grayscale(100%);
    }
    .description {
      padding-top: 30px;
      width: 100%;
      height: 100px;
      text-align: center;
      background-color: var(--navbar-color);
      border-radius: 8px;
      position: absolute;
      bottom: -200px;
      transition: 300ms linear;
    }
    &:hover {
      img {
        transition: 250ms linear;
        filter: grayscale(0%);
      }
      .description {
        bottom: 0;
        transition: 300ms linear;
      }
    }
  }
}
///////////////////////////////// My Work /////////////////////////////////////

.work-container {
  ::-webkit-scrollbar {
    width: 8px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .bg-text {
    position: absolute;
    font-size: 25rem;
    top: -50%;
    z-index: -1;
    font-weight: 700;
    opacity: 0.03;
    transform: rotate(10deg);
  }
  .cards {
    display: flex;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 600px;
    overflow-y: auto;
    transition: 200ms ease-in-out;
    &.grid-view {
      .list-item {
        display: none;
      }
    }
    &.list-view {
      .flip-card-grid {
        display: none;
      }
      .card {
        width: 100%;
        background-color: var(--elem-color);
        .list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 15px;
          h2 {
            font-size: min(4vw, 20px);
          }
          p {
            font-size: min(3vw, 18px);
          }
          ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            li {
              a {
                svg {
                  fill: var(--text);
                }
                &:hover {
                  svg {
                    fill: var(--accent-color);
                  }
                }
              }
            }
          }
        }
      }
    }
    .card {
      &:nth-child(1) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/random-quote-generator.avif);
          }
        }
      }
      &:nth-child(2) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/react-movie-app.avif);
          }
        }
      }
      &:nth-child(3) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/customizable-background.avif);
          }
        }
      }
      &:nth-child(4) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/video_project.avif);
          }
        }
      }
      &:nth-child(5) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/weather-app.PNG);
          }
        }
      }
      &:nth-child(6) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/Slider.avif);
          }
        }
      }
      &:nth-child(7) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/shopping-cart.avif);
          }
        }
      }
      &:nth-child(8) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/react-portfolio.avif);
          }
        }
      }
      &:nth-child(9) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/react-dashboard.PNG);
          }
        }
      }
      &:nth-child(10) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/react-multi-step-form.PNG);
          }
        }
      }
      &:nth-child(11) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/box-shadow-generator.png);
          }
        }
      }
      &:nth-child(12) {
        .flip-card-front {
          .img {
            background-image: url(./work-images/avif/checkers-game.avif);
          }
        }
      }

      .flip-card-grid {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        &:hover {
          cursor: pointer;
        }
        .flip-card-front {
          overflow: hidden;
          .img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
          }
          &:hover {
            cursor: pointer;
          }
          &::before {
            content: "Click to flip card";
            position: absolute;
            z-index: 3;
            width: 200px;
            height: 30px;
            padding: 10px;
            left: 0;
            top: 0;
            background-color: var(--navbar-color);
            color: var(--text);
            transform: translateX(-100%);
            border-radius: 0px 0px 8px 0px;
            transition: 300ms ease-in-out;
          }
          &:hover::before {
            transform: translateX(0);
          }
        }
        .flip-card-back {
          color: var(--text);
          background-color: var(--elem-color);
          transform: rotateY(180deg);
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .card {
            &_header {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 70px;
              border-bottom: 1px solid var(--accent-color);
            }
            &_body {
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              padding: 10px 20px;
              ul {
                padding-top: 10px;
                display: flex;
                list-style-type: none;
                flex-direction: column;
                gap: 5px;
                li {
                  display: flex;
                  width: 28px;
                  align-items: flex-start;
                  svg {
                    fill: var(--text);
                  }
                }
              }
            }
            &_footer {
              border-top: 1px solid var(--accent-color);
              display: flex;
              flex-direction: column;
              ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                li {
                  a {
                    svg {
                      fill: var(--text);
                    }
                    &:hover {
                      svg {
                        fill: var(--accent-color);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.flipped {
        .flip-card-grid {
          transform: rotateY(180deg);
          .flip-card-front {
            pointer-events: none;
          }
          .flip-card-front,
          .flip-card-back {
            border-radius: 8px;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
        }
      }
    }
    &.grid-view {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      .card {
        height: 400px;
      }
    }
  }
  .my-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .work-btns {
      display: flex;
      justify-content: flex-end;
      margin: 10px 25px;
      margin-right: 80px;
    }
    .list-view-btn,
    .grid-view-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      padding: 5px 10px;
      border: 1px solid var(--text);
      border-radius: 8px;
      &:hover {
        transition: 300ms ease-in-out;
        cursor: pointer;
        border-color: var(--accent-color);
        color: var(--accent-color);
      }
      &.checked {
        background-color: var(--elem-color);
        box-shadow: 0 0 10px var(--shadow-color);
      }
    }
    &_card-container.list {
      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        h2 {
          font-size: min(4vw, 20px);
        }
        p {
          font-size: min(3vw, 18px);
        }
        ul {
          list-style-type: none;
          display: flex;
          justify-content: flex-end;
          li {
            a {
              svg {
                fill: var(--text);
              }
              &:hover {
                svg {
                  fill: var(--accent-color);
                }
              }
            }
          }
        }
      }
      .my-work_card {
        width: 90%;
        height: 80px;
        background-color: var(--elem-color);
        border-radius: 8px;
        .flip-card-grid {
          display: none;
        }
      }
    }
  }
  .recent-work {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
///////////////////////////////////////////
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.my-work_card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
////////////////////////////////// Contact //////////////////////////////////
.contact {
  .bg-text {
    position: absolute;
    font-size: 18rem;
    left: 0;
    top: 50px;
    z-index: -1;
    font-weight: 700;
    opacity: 0.03;
    transform: rotate(30deg);
    user-select: none;
  }
  padding: 20px 0px !important;
}
.contact-section {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  form {
    margin: 0;
    position: relative;
    max-width: 550px;
    width: 98%;
    background-color: var(--primary);
    padding: min(25px, 3rem);
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    label {
      display: block;
      margin: 25px 0 5px 0px;
    }
    input,
    textarea {
      background-color: var(--secondary);
      color: var(--text);
      width: 100%;
      padding: 10px;
      font-size: 18px;
      outline: none;
      resize: none;
      box-shadow: 0px 0px 2px var(--shadow-color);
      border: none;
      border-bottom: 1px solid var(--secondary);
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
      border-bottom: 1px solid var(--accent-color);
    }
    textarea::-webkit-scrollbar {
      width: 4px;
    }
    textarea::-webkit-scrollbar-thumb {
      background-color: var(--accent-color);
    }
    button {
      font-size: 18px;
      border: none;
      margin: 0 auto;
      margin-top: 30px;
      width: 90%;
      max-width: 200px;
      background-color: transparent;
      border: 1px solid var(--accent-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      position: relative;
      cursor: pointer;
      color: var(--text);
      transition: 0.5s ease-in-out;
      &:hover {
        box-shadow: 0px 0px 5px var(--accent-color);
        color: var(--accent-color);
      }
    }
    .info {
      height: 2ch;
      width: 2ch;
      background-color: var(--navbar-color);
      border: 1px solid var(--text);
      display: flex;
      margin-top: 8px;
      margin-left: 95%;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
    .info-modal {
      display: none;
      position: absolute;
      word-wrap: break-word;
      width: min(100%, 550px);
      overflow: auto;
      margin: 0 auto;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
      z-index: 10;
      height: 500px;
      background-color: var(--primary);
      box-shadow: 0px 0px 10px var(--shadow-color);
      border: 1px solid var(--secondary);
      &_header {
        width: 100%;
        height: 80px;
        display: flex;
        padding: 20px;
        background-color: var(--secondary);
        justify-content: space-between;
        align-items: center;
      }
      &_content {
        h3 {
          margin-top: 15px;
          margin-left: 15px;
        }
        p {
          margin-left: 15px;
        }
        ul {
          list-style: none;
          margin-bottom: 15px;
          li {
            padding-left: 25px;
            font-size: 0.9rem;
            &::before {
              content: "- ";
            }
          }
        }
      }
      &_close-btn {
        cursor: pointer;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        .close-btn_line-one {
          background-color: var(--text);
          width: 30px;
          height: 3px;
          transform: translateY(6px);
        }
        .close-btn_line-two {
          background-color: var(--text);
          width: 30px;
          transform: rotate(-90deg) translateX(-3px);
          height: 3px;
        }
      }
    }
    .error-message {
      color: red;
    }
    .error-border {
      border-bottom: 1px solid red;
    }
    .pending {
      font-size: 0;
      color: transparent;
      border: 1px solid var(--accent-color);
      background-color: transparent !important;
      width: 3rem !important;
      height: 3rem;
      border-radius: 50%;
      border-left-color: transparent !important;
      animation: rotate 1.4s ease 0.5s infinite;
      transition: 0.5s ease-in-out;
      box-shadow: 0px 0px 5px transparent !important;
      color: transparent !important;
      &:focus {
        outline: none;
      }
    }
    .success {
      position: relative;
      border: none;
      background-color: green !important;
      width: 3rem !important;
      height: 3rem;
      box-shadow: 0px 0px 5px transparent !important;
      border-radius: 50%;
      color: transparent !important;
      transition: 0.5s ease-in-out;
      &::after {
        z-index: 10;
        font-size: 1.5rem;
        color: white;
        display: inline-block;
        content: "\2713";
        position: absolute;
      }
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-element {
      display: flex;
      align-items: center;
      background-color: var(--navbar-color);
      gap: 20px;
      padding: 10px;
      border-radius: 8px;
      p:first-of-type {
        color: var(--accent-color);
        font-size: 1rem;
        font-weight: 700;
      }
    }
    span {
      svg {
        fill: var(--accent-color);
      }
    }
  }
}

.social-icons-container {
  top: calc(50vh - 120px);
  position: fixed;
  z-index: 20;
  width: min(70px, 12vw);
  height: min(120px, 30vw);
  height: max-content;
}
.more-social-links-wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--navbar-color);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  transform: scale(0);
  opacity: 0;
  transition: 300ms linear;
  color: var(--text);
  button {
    padding: 10px 20px;
    position: absolute;
    background-color: var(--accent-color);
    border: none;
    top: 20px;
    right: 20px;
    color: var(--secondary);
    user-select: none;
    &:hover {
      filter: brightness(80%);
      cursor: pointer;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      gap: 50px;
      li {
        transition: 200ms linear;
        &:hover {
          transform: scale(1.3);
        }
        .social-icon-elem {
          border-radius: 0px;
          width: 60px;
          height: 60px;

          svg {
            fill: var(--text);
          }
        }
      }
    }
  }
  &.open {
    opacity: 1;
    transform: scale(1);
  }
}
#toggle-social {
  position: fixed;
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
  transform: rotate(-90deg);
  transition: transform 100ms linear;
  z-index: 20;
  cursor: pointer;
  svg {
    fill: var(--text);
  }
  &:hover {
    svg {
      fill: var(--accent-color);
    }
  }
}
.hidesocial {
  transform: translateX(-100%);
}
.social {
  position: fixed;
  padding-left: min(20px, 1vw);
  font-size: 30px;
  margin-top: 25px;
  transition: 0.2s linear;
  z-index: 10;
  li {
    list-style-type: none;
    .social-icon-elem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      aspect-ratio: 1 / 1 !important;
      border-radius: 50%;
      transition: all 0.4s linear;
      border: 1px solid var(--secondary);
      background: var(--navbar-color);
      color: var(--text);
      box-shadow: 0px 0px 2px 0 var(--shadow-color);
      svg {
        fill: var(--text);
        padding: 5px;
      }
      &:hover {
        border: 1px solid var(--accent-color);
        box-shadow: 0px 0px 4px 0 var(--accent-color);
        cursor: pointer;
      }
      .gmail-info-box {
        position: absolute;
        width: 140px;
        height: 50px;
        left: -240px;
        transform-origin: left;
        transition: 300ms all ease-in-out;
        padding: 5px;
        border-radius: 8px;
        background-color: var(--navbar-color);
        box-shadow: 0px 0px 4px 0 var(--shadow-color);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        backdrop-filter: blur(8px);
        pointer-events: none;
        &.active {
          left: 70px;
          pointer-events: all;
          transition: 300ms all ease-in-out;
        }
        .gmail-info-btn {
          border: 1px solid var(--text);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &::before {
            left: -10px;
            position: absolute;
            width: max-content;
            border-radius: 8px;
            padding: 5px;
            height: 30px;
            top: -50px;
            background-color: var(--navbar-color);
            backdrop-filter: blur(8px);
            box-shadow: 0px 0px 4px 0 var(--shadow-color);
            opacity: 0;
            pointer-events: none;
          }
          &:hover::before {
            opacity: 1;
            transition: 200ms opacity ease-in-out;
          }
          &:hover {
            cursor: pointer;
            color: var(--text);
          }
          svg {
            line {
              stroke: var(--text);
            }
            path {
              fill: var(--text);
            }
          }
        }
        .goto-btn {
          &::before {
            content: "Go to Gmail";
          }
        }
        .goto-form-btn {
          &::before {
            content: "Go to Form";
          }
        }
        .copy-to-clipboard-btn {
          &::before {
            left: -30px;
            content: "Copy to Clipboard";
          }
        }
      }
    }
  }
}
.snackbar {
  position: fixed !important;
  z-index: 20;
  background-color: var(--navbar-color);
  box-shadow: 0px 0px 4px 0 var(--shadow-color);
  width: 300px;
  height: 50px;
  border-radius: 8px;
  bottom: -20px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms all ease-in-out;
  backdrop-filter: blur(5px);
  &.active {
    bottom: 85px;
    opacity: 1;
    transition: 300ms all ease-in-out;
  }
}
.footer {
  width: 100%;
  height: 240px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  hr {
    position: absolute;
    width: 80%;
    left: 10%;
    background-color: var(--text);
  }
  .footer-top {
    width: 100%;
    height: 70%;
    outline: red;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    svg {
      fill: var(--text);
    }
    .quick-links {
      margin-top: 20px;
      small {
        color: var(--text);
        font-size: 1.5rem;
      }
      ul {
        list-style-type: none;
        li {
          line-height: 0.9rem;
          padding: 2px;
          a {
            font-size: 1rem;
            color: var(--text);
            &:hover {
              color: var(--accent-color);
              cursor: pointer;
            }
          }
        }
      }
    }
    .social-links {
      margin-top: 20px;
      small {
        color: var(--text);
        font-size: 1.5rem;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li {
          line-height: 0.9rem;
          a {
            font-size: 0.9rem;
            color: var(--text);
          }
        }
      }
    }
  }
  .footer-bottom {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid var(--accent-color);
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    color: var(--text);
    position: relative;
  }
}
@import "./style_mixins/music-player";
@import "./style_mixins/animations";
@import "./style_mixins/media";
