:root {
  --primary: #2e2e2e;
  --secondary: #252525;
  --elem-color: #1b1b1b;
  --navbar-color: rgba(31, 31, 31, 0.902);
  --text: #b8b8b8;
  --accent-color: #ffa600;
  --shadow-color: rgba(24, 24, 24, 0.719);
  --scrollbar-color: #222222;
  --scrollbar-color-hover: #1f1f1f;
  --scrollbar-track-color: #292929;
}
