.contact {
  .bg-text {
    position: absolute;
    font-size: 18rem;
    left: 0;
    top: 50px;
    z-index: -1;
    font-weight: 700;
    opacity: 0.03;
    transform: rotate(30deg);
    user-select: none;
  }
  padding: 20px 0px !important;
}
.contact-section {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  form {
    margin: 0;
    position: relative;
    max-width: 550px;
    width: 98%;
    background-color: var(--primary);
    padding: min(25px, 3rem);
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    label {
      display: block;
      margin: 25px 0 5px 0px;
    }
    input,
    textarea {
      background-color: var(--secondary);
      color: var(--text);
      width: 100%;
      padding: 10px;
      font-size: 18px;
      outline: none;
      resize: none;
      box-shadow: 0px 0px 2px var(--shadow-color);
      border: none;
      border-bottom: 1px solid var(--secondary);
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
      border-bottom: 1px solid var(--accent-color);
    }
    textarea::-webkit-scrollbar {
      width: 4px;
    }
    textarea::-webkit-scrollbar-thumb {
      background-color: var(--accent-color);
    }
    button {
      font-size: 18px;
      border: none;
      margin: 0 auto;
      margin-top: 30px;
      width: 90%;
      max-width: 200px;
      background-color: transparent;
      border: 1px solid var(--accent-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      position: relative;
      cursor: pointer;
      color: var(--text);
      transition: 0.5s ease-in-out;
      &:hover {
        box-shadow: 0px 0px 5px var(--accent-color);
        color: var(--accent-color);
      }
    }
    .info {
      height: 2ch;
      width: 2ch;
      background-color: var(--navbar-color);
      border: 1px solid var(--text);
      display: flex;
      margin-top: 8px;
      margin-left: 95%;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
    .info-modal {
      display: none;
      position: absolute;
      word-wrap: break-word;
      width: min(100%, 550px);
      overflow: auto;
      margin: 0 auto;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
      z-index: 10;
      height: 500px;
      background-color: var(--primary);
      box-shadow: 0px 0px 10px var(--shadow-color);
      border: 1px solid var(--secondary);
      &_header {
        width: 100%;
        height: 80px;
        display: flex;
        padding: 20px;
        background-color: var(--secondary);
        justify-content: space-between;
        align-items: center;
      }
      &_content {
        h3 {
          margin-top: 15px;
          margin-left: 15px;
        }
        p {
          margin-left: 15px;
        }
        ul {
          list-style: none;
          margin-bottom: 15px;
          li {
            padding-left: 25px;
            font-size: 0.9rem;
            &::before {
              content: "- ";
            }
          }
        }
      }
      &_close-btn {
        cursor: pointer;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        .close-btn_line-one {
          background-color: var(--text);
          width: 30px;
          height: 3px;
          transform: translateY(6px);
        }
        .close-btn_line-two {
          background-color: var(--text);
          width: 30px;
          transform: rotate(-90deg) translateX(-3px);
          height: 3px;
        }
      }
    }
    .error-message {
      color: red;
    }
    .error-border {
      border-bottom: 1px solid red;
    }
    .pending {
      font-size: 0;
      color: transparent;
      border: 1px solid var(--accent-color);
      background-color: transparent !important;
      width: 3rem !important;
      height: 3rem;
      border-radius: 50%;
      border-left-color: transparent !important;
      animation: rotate 1.4s ease 0.5s infinite;
      transition: 0.5s ease-in-out;
      box-shadow: 0px 0px 5px transparent !important;
      color: transparent !important;
      &:focus {
        outline: none;
      }
    }
    .success {
      position: relative;
      border: none;
      background-color: green !important;
      width: 3rem !important;
      height: 3rem;
      box-shadow: 0px 0px 5px transparent !important;
      border-radius: 50%;
      color: transparent !important;
      transition: 0.5s ease-in-out;
      &::after {
        z-index: 10;
        font-size: 1.5rem;
        color: white;
        display: inline-block;
        content: "\2713";
        position: absolute;
      }
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-element {
      display: flex;
      align-items: center;
      background-color: var(--navbar-color);
      gap: 20px;
      padding: 10px;
      border-radius: 8px;
      p:first-of-type {
        color: var(--accent-color);
        font-size: 1rem;
        font-weight: 700;
      }
    }
    span {
      svg {
        fill: var(--accent-color);
      }
    }
  }
}
